@{
    ViewData["Title"] = "Recuperação de Conta";
}

<link rel="stylesheet" href="~/css/site.css"/>


<div style="margin-left: 300px; margin-right: 300px">
    <h1>Recuperação de Conta</h1>
    <div class="form-group">
        <label for="email">Informe o seu email:</label>
        <input id="email" type="email"></input>
    </div>

    <div>
        <button type="button" class="btn btn-primary" value="Enviar">Enviar</button>
        <a class="btn btn-primary"  href="/Public/Login">Voltar</a>
    </div>
    

</div>
