
@using Buffet.ViewModels.Home
@model Buffet.ViewModels.Home.IndexViewModel


@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo !</h1>
</div>

<p>Nome @Model.clienteEspecificoTeste.Nome </p>
<p>Cpf @Model.clienteEspecificoTeste.Cpf </p>
<p>Data @Model.clienteEspecificoTeste.DataCadastro </p>